/* Personal Portfolio:*/
header  {
    background-color: rgb(55, 169, 189);
    color: pink;
    text-align: center;
    font-size: xx-large;
    font-family:"Brush Script MT", 'Arial Narrow', Arial, sans-serif;
}

